cltk
ipykernel
matplotlib
sklearn
tqdm
jupyter
pytest
joblib
nltk
matplotlib-venn
coverage
pytest-cov
mypy
pytest-mypy
pylint
pytest-pylint
yapf
bs4
lxml
keras
tensorflow
codecov
gensim
torch
torchvision
pydot