cleanlab==0.1.1
bs4==0.0.1
dovpanda==0.0.5
fasttext==0.9.1
ipykernel==5.1.0
joblib==0.13.1
jupyter==1.0.0
lxml==4.6.5
matplotlib==3.0.2
matplotlib-venn==0.11.5
mlflow==1.9.0
pydot==1.4.1
scikit-image==0.15.0
seaborn==0.10.0
stanza==1.0.1
Shapely==1.6.4.post2
tensorflow==2.0.0a0
torchvision==0.2.2.post3
yapf==0.25.0
wandb==0.9.1
wikidata==0.6.1
wikipedia==1.4.0
